<div class="control_basic">
	<%= link_to "Show Beta Users", lists_path %> (<%= @lists %>)</br>  
	<%= link_to "Show Users", users_path %> (<%= @users %>)</br>
	<%= link_to "Show Projects", projects_path %> (<%= @projects %>)</br>
	<%= link_to "Show Reports", reports_path %> (<%= @reports %>)</br>

</div>	