<div class="control_basic">  
  <h1>Listing projects</h1>

  <table class="index_table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= image_tag(project.image(:thumb)) %></td>
          <td><%= project.id %></td>
          <td><%= project.project_name %></td>
          <td><%= project.user.email %></td>
          <td><%= link_to 'Show', project %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td> 
              <% if Report.find(:first, :conditions => ["project_id= ?", project]) %>
                <%= image_tag(Report.find(:first, :conditions => ["project_id= ?", project]).image(:thumb)) %>
              <% else %>
                <%= link_to 'Create Report', {:controller => "reports", :action => "new", :project_id => project.id} %>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
