<%= render 'projects/share' %>

<div class="main_show" style="background-image: url('<%= @project.image(:twitter) %>')">

</div>

<div class="side_show">
	<h1><%= @project.project_name %></br>
			<%= @project.tagline %>
	</h1>

	<p>Discuss</p>
		<%= image_tag("comment-64.png") %>


	<p>Share</p>
	<%= @title %>
	<a href="javascript:fbShare('http://www.thejury.co/projects/1', 'Fb Share', 'Jury - A Proving Ground for Startups', 'http://goo.gl/dS52U', 520, 350)">Share</a>

		<%= image_tag("facebook-64.png") %>
		<%= image_tag("twitter-64.png") %>
		<%= image_tag("linkedin-64.png") %>
		<%= image_tag("google-64.png") %>

	<div class="new_project_button">
		<% if @user == @project.user_id %>
			Doesn't look quite right?</br>
			<%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-default btn-large" %>
		<% else %>	
			Can't wait to pitch your idea?</br>
			<%= link_to "Submit a Pitch", new_project_path, class: "btn btn-success btn-large" %>
		<% end %>
	</div>
</div>