<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><%= link_to "JURY", root_path %></div>
        <ul class="nav navbar-nav navbar-right"> 
          
        	<% if user_signed_in? %>
            <li><%= link_to "Submit a Pitch", new_project_path %></li>
        		<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        	<% elsif cookies[:email] %>
            <li><%= link_to "Submit a Pitch", new_project_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
          <% else %>
            <li><%= link_to "Join the Beta", new_user_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
          <!-- <li><%= link_to "Blog", "#" %></li> -->
        </ul>
    </div>
  </div>
</header>