<% provide(:title, @title ||= 'JURY - Build Better Startups') %>
<!DOCTYPE html>
<html>
<head>
	
	<%= render 'layouts/meta_social' %>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'juryfav.ico' %>


</head>
<body>  
	<div class="wrapper">
		<%= render 'layouts/header' %>	
		<%= render 'layouts/flash' %>

		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
